@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* Formatação para fonte */
@font-face {
    font-family: 'Chernobyl';
    src: url(fonts/Chernobyl.otf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'Gobold';
    src: url(fonts/Gobold.otf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

/* Formatação para fonte */
@font-face {
    font-family: 'GeosansLight';
    src: url(fonts/GeosansLight.ttf) format("truetype-variations");
    font-weight: normal;
    font-display: swap;
}

body{
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	background-image: url(images/backgroundthelastofus.png);
	background-repeat: no repeat;
	background-size: cover;
	min-width: 100vw;
}

.container{
	background-color: rgba(0, 0, 0, 0.5);
	width: 370px;
	border-radius: 20%;
	padding: 50px 20px;
}

h1{
	font-family: Chernobyl;
	font-weight: normal;
	letter-spacing: 0.1em;
	color: white;
	font-size: 30pt;
	text-align: center;
	margin: 12px;
}

input{
	width: 100%;
	height: 40px;
	border: none;
	outline: none;
	background: transparent;
	border-bottom: 2px solid rgba( 254, 254, 254, 0.5);
	color: white;
	font-family: GeosansLight;
	font-weight: normal;
	font-size: 10pt;
}

.input-file{
	padding-top: 15px;
	position: relative;
	margin-bottom: 20px;
}

label{
	font-family: Gobold;
	font-weight: normal;
	font-size: 10pt;
	position: absolute;
	color: white;
	top: 0;
	left: 0;
	margin-bottom: 25px;
}

input:focus{
	border-bottom: 3px solid white;
}

input:focus + label{
	font-size: 12pt;
	transition: 0.5s;
	
}

button{
	padding: 15px 50px;
	background: transparent;
	color: white;
	border: 2px solid white;
	border-radius: 25px;
	text-transform: uppercase;
	cursor: pointer;
}
button a{
text-decoration: none;
color: white;	
font-size: 10pt;
}	

button a:hover{
	font-size: 15pt;	
	transition: 0.5s;
}

button:hover{
	background: rgba(0, 0, 0, 0.5);
}

.enter{
	text-align: center;
}

.links{
	padding: 5px 5px 0px 5px;
	text-align: center;
}


.links p {
	padding: 5px;
	text-align: center;
	margin: 10px;
}

.links a{
	text-decoration: none;
	color: rgba(254, 254, 254, 0.5);
}

.links a:hover{
	color: white;
}

/* Formatação ao diminuir a tela para uso mobile*/	
@media only screen and (min-width: 300px) and (max-width: 1200px) {
	body{
		background-image: url(images/mobileback.jpg);
		background-repeat: no repeat;
		background-size: cover;
	}
}